body {
    background-color: rgb(204, 206, 185);
    font-family: Georgia;
    font-size: 16px;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

body {
    margin-bottom: 400px;
}

article {
    margin: 0 auto;
    max-width: 600px;
    
}

.crud {
    max-width: 370px;
    margin: 0 auto;
}

